---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Filip Senier | Portfolio">
	<main>
		<h1 class="text-center text-cyan-200 text-2xl">Filip Senier</h1>
	</main>
</Layout>
